
#videos {
    width: 640px;
    height: 480px;
}

img {
    max-width: 100%;
}

#nav > ul > li > a {
    color: #FFFFFF;
}

#searchmovie {
    margin-bottom: 10px;

}

.well {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;

}

#result {
    margin-top: 10px;

}

.result {

    float: left;
    margin: 10px;
    text-align: center;

}

.movie {
    height: 80px;
    background-color: #e4fafa;
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
    flex-direction: column;
    text-align: center;
    align-items: center;

}
